body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size:cover;
}
.navlink{
    text-decoration: none;
    color: black;
}
.navbar{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid black;
}
#logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;margin-right: 180px;
    color: red;
    text-decoration: none;
}
h1{
    text-align: center;
}
.iframe{
    width: 50%
}
.page{
    margin-left: 40px;
}
li{
    list-style:none;
}
.align{
    display: flex;
    justify-content: space-evenly;
    /* gap: 20px; */
    flex-wrap: wrap;
}
.iframe{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
}
button{
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: aqua;
    margin: 30px;
}
.page{
    margin-bottom: 50px;
}
li{
    margin-bottom: 8px;
}
@media (max-width:800px) {
    .iframe{
        width: 90%
    }
}
